.home{
   padding:0  ;
   flex: 5;
   margin: 0 20px 0 30px;
  
}
.homeWidgets{
    display: flex;
}
.chart__class{
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .75);
    border-radius: 10px;
}